<nb-card size="large">
  <div class="consumption-table">
    <div class="table-header">
      <div>ACTIVIDADES  </div>
      <div class="subtitle"></div>
    </div>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <div class="container">
      <div class="row row-flex">
          <div class="col-xs-12 col-sm-6 col-md-3 ">
              <div class="price-table pt-bg-black">
                  <div>
                      <span>Opción Multiple</span>
                      <br><span>******IMAGEN*****</span>
                      <br><span>Acceder</span>
                  </div>
                  <ul>
                      <li>Domain name</li>
                      <li>Social Media Integration</li>
                      <li>First Month Hosting</li>
                      <li>On Page SEO</li>
                      <li>24/6 Support</li>
                  </ul>

              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 ">
              <div class="price-table pt-bg-green">
                  <div>
                      <span>Falso y Verdadero</span>
                      <br><span>******IMAGEN*****</span>
                      <br><span>Acceder</span>
                  </div>
                  <ul>
                      <li>Domain name</li>
                      <li>Social Media Integration</li>
                      <li>First Month Hosting</li>
                      <li>On Page SEO</li>
                      <li>24/6 Support</li>
                  </ul>

              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 ">
              <div class="price-table pt-bg-red">
                  <div>
                      <span>Relacion a Lineas</span>
                      <br><span>******IMAGEN*****</span>
                      <br><span>Acceder</span>
                  </div>
                  <ul>
                      <li>Domain name</li>
                      <li>Social Media Integration</li>
                      <li>First Month Hosting</li>
                      <li>On Page SEO</li>
                      <li>24/6 Support</li>
                  </ul>

              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 ">
              <div class="price-table pt-bg-blue">
                  <div>
                      <span>Scrambled</span>
                      <br><span>******IMAGEN*****</span>
                      <br><span>Acceder</span>
                  </div>
                  <ul>
                      <li>Domain name</li>
                      <li>Social Media Integration</li>
                      <li>First Month Hosting</li>
                      <li>On Page SEO</li>
                      <li>24/6 Support</li>
                  </ul>

              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3 ">
            <div class="price-table pt-bg-blue">
                <div>
                    <span>Pregunta Abierta</span>
                    <br><span>******IMAGEN*****</span>
                    <br><span>Acceder</span>
                </div>
                <ul>
                    <li>Domain name</li>
                    <li>Social Media Integration</li>
                    <li>First Month Hosting</li>
                    <li>On Page SEO</li>
                    <li>24/6 Support</li>
                </ul>
            </div>
        </div>
      </div>
  </div>
  </div>
</nb-card>
    

